swagger: '2.0'
info:
  version: '2.0'
  title: Astel - Telecom Switch
  description: The API allows any Astel partner to retrieve data about telecom products, compare them and allows product ordering and order follow-up with Astel's back-office. If interested to become a partner, please contact us.
  contact:
    email: direction@astel.be
    name: Grégoire Bourguignon
    url: https://www.astel.be/
host: api.astel.be
basePath: /
securityDefinitions:
  api-key:
    type: apiKey
    description: Security key provided by Astel, please contact us
    name: x-api-key
    in: header
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /v2_00/brand/{id}:
    get:
      description: Retrieve a Brand by its Id
      summary: brand/{id}
      tags:
      - v2_00
      operationId: V200BrandByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: brand unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Brand'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/status:
    get:
      description: ''
      summary: status/
      tags:
      - v2_00
      operationId: V200StatusGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Statuses'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/postal_code:
    get:
      description: It returns the postal codes available in the Astel database.
      summary: postal_code/
      tags:
      - v2_00
      operationId: V200PostalCodeGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/PostalCodes'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/product:
    get:
      description: It returns a product list available for sale and their related information
      summary: product/
      tags:
      - v2_00
      operationId: V200ProductGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Products'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/product/{id}:
    get:
      description: It returns a product available for sale and its related information
      summary: product/{id}
      tags:
      - v2_00
      operationId: V200ProductByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: unique identifier of the product
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Product'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/discount:
    get:
      description: Retrieves the available discounts and the associated products. It is possible to retrieve the discounts filtered by a given Brand (recommended). A single discount could also be returned by its ID. It is advised every morning to refresh the discounts by calling this WS, because these could be deactivated / be over in a day to day basis.
      summary: discount/
      tags:
      - v2_00
      operationId: V200DiscountGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Discounts'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/discount/{id}:
    get:
      description: Retrieve one discount
      summary: discount/{id}
      tags:
      - v2_00
      operationId: V200DiscountByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Discount'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/partner/me:
    get:
      description: partnership (api consumer) related info and params
      summary: partner/me
      tags:
      - v2_00
      operationId: V200PartnerMeGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Partner'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/brand:
    get:
      description: It is used to retrieve the list of available brands ('Base', 'Mobistar', 'Proximus', ...). These could be used to list all providers (operator) in your order form in case of number portability, or to synchronize a product database.
      summary: brand/
      tags:
      - v2_00
      operationId: V200BrandGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Brands'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/option:
    get:
      description: It returns the available options.
      summary: option/
      tags:
      - v2_00
      operationId: V200OptionGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Options'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/option/{id}:
    get:
      description: It returns the available option by its ID.
      summary: option/{id}
      tags:
      - v2_00
      operationId: V200OptionByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Option'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/option/{id}/commission:
    get:
      summary: option/{id}/commission
      tags:
      - v2_00
      operationId: V200OptionCommissionByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Commission'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/option_group:
    get:
      summary: option_group/
      tags:
      - v2_00
      operationId: V200OptionGroupGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/OptionGroups'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/option_group/{id}:
    get:
      summary: option_group/{id}
      tags:
      - v2_00
      operationId: V200OptionGroupByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: option group id
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/OptionGroup'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/partner/{id}/last_ordered_products:
    get:
      summary: partner/{id}/last_ordered_products
      tags:
      - v2_00
      operationId: V200PartnerLastOrderedProductsByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: partner id
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/PartnerLastOrderedProduct'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/partner/{id}/call_center_open:
    get:
      description: Information about opening hours of the partner callcenter
      summary: partner/{id}/call_center_open
      tags:
      - v2_00
      operationId: V200PartnerCallCenterOpenByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: partner id
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/PartnerCallCenterOpenSummary'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/availability_zone:
    get:
      description: Retrieve a paginated availability zone listing. An availability zone gives a geographical zone where a product is available for purchase.
      summary: availability_zone/
      tags:
      - v2_00
      operationId: V200AvailabilityZoneGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AvailabilityZones'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/availability_zone/{id}:
    get:
      description: Retrieve a given availability zone by its id. An availability zone gives a geographical zone where a product is available for purchase.
      summary: availability_zone/{id}
      tags:
      - v2_00
      operationId: V200AvailabilityZoneByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: unique identifier of an availability zone
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/AvailabilityZone'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/postal_code/{id}:
    get:
      summary: postal_code/{id}
      tags:
      - v2_00
      operationId: V200PostalCodeByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: postal code unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/PostalCode'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/product/{id}/play_description:
    get:
      description: product description depending on the different product type (play)
      summary: product/{id}/play_description
      tags:
      - v2_00
      operationId: V200ProductPlayDescriptionByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: product unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/ProductTypeDescription'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/product/{id}/commission:
    get:
      summary: product/{id}/commission
      tags:
      - v2_00
      operationId: V200ProductCommissionByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: product unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Commission'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/product/{id}/web:
    get:
      summary: product/{id}/web
      tags:
      - v2_00
      operationId: V200ProductWebByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: product unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/ProductWeb'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/product/{id}/subscription_period:
    get:
      summary: product/{id}/subscription_period
      tags:
      - v2_00
      operationId: V200ProductSubscriptionPeriodByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: product unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/ProductSubscriptionPeriods'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/product/{id}/option_relations:
    get:
      summary: product/{id}/option_relations
      tags:
      - v2_00
      operationId: V200ProductOptionRelationsByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: product unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/ProductOptionRelations'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/product/{id}/option_group_relations:
    get:
      summary: product/{id}/option_group_relations
      tags:
      - v2_00
      operationId: V200ProductOptionGroupRelationsByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: product unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/ProductOptionGroupRelations'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/product/{id}/available/{postal_code_id}:
    get:
      description: Tells if a product is available at a given postal code id
      summary: product/{id}/available/{postal_code_id}
      tags:
      - v2_00
      operationId: V200ProductAvailableByIdAndPostalCodeIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: product unique identifier
      - name: postal_code_id
        in: path
        required: true
        type: string
        description: postal code unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/ProductAvailablePostalCode'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/product/compare:
    get:
      summary: product/compare
      tags:
      - v2_00
      operationId: V200ProductCompareGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: is_professional
        in: query
        required: true
        type: boolean
        description: defines whether the customer is looking for private (false) or professional (true) products
      - name: postal_code_id
        in: query
        required: false
        type: integer
        format: int32
        description: ''
      - name: is_mobile
        in: query
        required: false
        type: boolean
        description: Whether the customer is looking for a product that contains the play mobile
      - name: is_fix
        in: query
        required: false
        type: boolean
        description: Whether the customer is looking for a product that contains the play fix
      - name: is_internet
        in: query
        required: false
        type: boolean
        description: Whether the customer is looking for a product that contains the play internet
      - name: is_tv
        in: query
        required: false
        type: boolean
        description: Whether the customer is looking for a product that contains the play tv
      - name: mobile_small_qt
        in: query
        required: false
        type: integer
        format: int32
        description: Number of small mobiles
      - name: mobile_regular_qt
        in: query
        required: false
        type: integer
        format: int32
        description: Number of regular mobiles
      - name: mobile_heavy_qt
        in: query
        required: false
        type: integer
        format: int32
        description: Number of heavy mobiles
      - name: mobile_heavy_int_qt
        in: query
        required: false
        type: integer
        format: int32
        description: Number of heavy international mobiles
      - name: internet_usage
        in: query
        required: false
        type: string
        description: SMALL, MEDIUM or HEAVY
      - name: fix_usage
        in: query
        required: false
        type: string
        description: MEDIUM, HEAVY or HEAVYINT
      - name: count
        in: query
        required: false
        default: 10
        type: integer
        format: int32
        description: Number of results to retrieve
      - name: order
        in: query
        required: false
        default: price
        type: string
        description: "Ordering the results: 'price', 'quality', 'qualityprice', 'delay'"
      - name: language
        in: query
        required: true
        type: string
        description: Language of the comparison. Language influence results.
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/ProductComparisonResults'
          headers: {}
        400:
          description: If unsuported value for internet_usage or fix_usage
          schema:
            $ref: '#/definitions/ExceptionError4xx'
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/status/{id}:
    get:
      summary: status/{id}
      tags:
      - v2_00
      operationId: V200StatusByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: status unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Status'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/product/{id}/available/search/{txt_base_64}:
    get:
      description: Search a product availability textually by its postal code
      summary: product/{id}/available/search/{txt_base_64}
      tags:
      - v2_00
      operationId: V200ProductAvailableSearchByIdAndTxtBase64Get
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: product unique identifier
      - name: txt_base_64
        in: path
        required: true
        type: string
        description: textual content to search the product availability encoded in base64
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/ProductAvailablePostalCodes'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/lead:
    post:
      summary: lead/
      tags:
      - v2_00
      operationId: V200LeadPost
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: language
        in: query
        required: true
        type: string
        description: "ISO2 Language of the lead : 'FR', 'NL', 'EN', 'DE'"
      - name: contact_topic
        in: query
        required: true
        type: string
        description: "['AFTER_SALES', 'LEAD']"
      - name: contact_type
        in: query
        required: true
        type: string
        description: "['MESSAGE','CALLBACK']"
      - name: order_id
        in: query
        required: false
        type: string
        description: Order ID associated to this contact
      - name: recipient_phone
        in: query
        required: false
        type: string
        description: Valid phone number of the lead
      - name: recipient_name
        in: query
        required: false
        type: string
        description: Name of the lead (firstname + lastname, company name,...)
      - name: recipient_email
        in: query
        required: false
        type: string
        description: Valid email of the lead
      - name: message
        in: query
        required: false
        type: string
        description: Lead message sent from the lead to our team
      - name: referer_page
        in: query
        required: false
        type: string
        description: Referer page associated to this lead
      - name: user_ip
        in: query
        required: false
        type: string
        description: User IP sending the lead
      - name: product_id
        in: query
        required: true
        type: string
        description: Id of the product associated to this lead
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/SaveResult'
          headers: {}
        400:
          description: 400 client input error
          schema:
            $ref: '#/definitions/ExceptionError4xx'
        default:
          description: 5xx Error model
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/order:
    get:
      summary: order/
      tags:
      - v2_00
      operationId: V200OrderGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Orders'
          headers: {}
        default:
          description: In case of an issue
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/order/{id}:
    get:
      summary: order/{id}
      tags:
      - v2_00
      operationId: V200OrderByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: Order id
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Order'
          headers: {}
        default:
          description: 5xx errors
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/order_line:
    get:
      summary: order_line/
      tags:
      - v2_00
      operationId: V200OrderLineGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/OrderLines'
          headers: {}
        default:
          description: In case of system error 5xx
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/order_line/{id}:
    get:
      summary: order_line/{id}
      tags:
      - v2_00
      operationId: V200OrderLineByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/OrderLine'
          headers: {}
        default:
          description: In case of system error 5xx
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/order_line/{id}/workflow_steps:
    get:
      summary: order_line/{id}/workflow_steps
      tags:
      - v2_00
      operationId: V200OrderLineWorkflowStepsByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/OrderLineWorkflowSteps'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/order_line/{id}/commission:
    get:
      summary: order_line/{id}/commission
      tags:
      - v2_00
      operationId: V200OrderLineCommissionByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/OrderLineCommissions'
          headers: {}
        default:
          description: Server error 5xx
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/order_line/{id}/cashback:
    get:
      summary: order_line/{id}/cashback
      tags:
      - v2_00
      operationId: V200OrderLineCashbackByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/OrderLineCashbacks'
          headers: {}
        default:
          description: Server error 5xx
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/discount/{id}/subscription_periods:
    get:
      summary: discount/{id}/subscription_periods
      tags:
      - v2_00
      operationId: V200DiscountSubscriptionPeriodsByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: ''
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/DiscountSubscriptionPeriods'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/brand/{id}/web:
    get:
      description: Retrieve a Brand by its Id
      summary: brand/{id}/web
      tags:
      - v2_00
      operationId: V200BrandWebByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: brand unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/BrandWeb'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/tag:
    get:
      description: ''
      summary: tag/
      tags:
      - v2_00
      operationId: V200TagGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Tags'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/tag/{id}:
    get:
      description: ''
      summary: tag/{id}
      tags:
      - v2_00
      operationId: V200TagByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: tag unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Tag'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/tag_group:
    get:
      description: ''
      summary: tag_group/
      tags:
      - v2_00
      operationId: V200TagGroupGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/TagGroups'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/tag_group/{id}:
    get:
      description: ''
      summary: tag_group/{id}
      tags:
      - v2_00
      operationId: V200TagGroupByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: tag unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/TagGroup'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/hardware:
    get:
      description: It returns a hardware product list available and their related information
      summary: hardware/
      tags:
      - v2_00
      operationId: V200HardwareGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Hardwares'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/hardware/{id}:
    get:
      description: ''
      summary: hardware/{id}
      tags:
      - v2_00
      operationId: V200HardwareByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: hardware unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Hardware'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/hardware/declination/:
    get:
      description: It returns a hardware declination product list available and their related information
      summary: hardware/declination/
      tags:
      - v2_00
      operationId: V200HardwareDeclinationGet
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/HardwareDeclinations'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/hardware/declination/{id}:
    get:
      description: ''
      summary: hardware/declination/{id}
      tags:
      - v2_00
      operationId: V200HardwareDeclinationByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: hardware declination unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/HardwareDeclination'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
  /v2_00/hardware/declination/{id}/web:
    get:
      description: ''
      summary: hardware/declination/{id}/web
      tags:
      - v2_00
      operationId: V200HardwareDeclinationWebByIdGet
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
        description: hardware declination unique identifier
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/HardwareDeclinationWeb'
          headers: {}
        401:
          description: "HTTP 401 Unauthorized: You didn't provided a valid authentication token"
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        404:
          description: 'HTTP 404: Endpoint not found, please verify if the url exists'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        500:
          description: 'HTTP 500: Error with the server'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        405:
          description: 'HTTP 405 Method Not Allowed: Please use GET'
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        403:
          description: HTTP 403 Method Unauthorized
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        422:
          description: HTTP 422 Validation error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        409:
          description: HTTP 409 Operational error
          schema:
            $ref: '#/definitions/ExceptionError5xx'
        default:
          description: An error has been raised
          schema:
            $ref: '#/definitions/ExceptionError5xx'
definitions:
  IsPlay:
    title: IsPlay
    description: map of different play type and if associated or not
    type: object
    properties:
      is_mobile:
        type: boolean
      is_fix:
        type: boolean
      is_internet:
        type: boolean
      is_tv:
        type: boolean
    required:
    - is_mobile
    - is_fix
    - is_internet
    - is_tv
  BrandActivationTime:
    title: BrandActivationTime
    description: indications about the activation time of the product
    type: object
    properties:
      average_activation_time_fix:
        description: 'average number of days for an ordered fix product to be activated / installed. A fix product is a product that contains at least one of the following plays: fix, internet, tv'
        type: integer
        format: int32
      average_activation_time_mobile:
        description: average number of days for an ordered mobile product to be activated / installed by the brand
        type: integer
        format: int32
      average_activation_time_description:
        $ref: '#/definitions/TranslatedStringISO2String'
    required:
    - average_activation_time_fix
    - average_activation_time_mobile
    - average_activation_time_description
  Brand:
    title: Brand
    description: Available brands. These could be used to list all providers (operator) in your order form in case of number portability, or to synchronize a product database.
    type: object
    properties:
      id:
        description: Brand id
        type: integer
        format: int32
      name:
        description: Brand name
        type: string
      slug:
        description: textual, url friendly identifier of the brand (you can find this brand by its slug)
        type: string
      fact_sheet:
        $ref: '#/definitions/BrandFactSheet'
      display:
        $ref: '#/definitions/BrandDisplay'
      is_play:
        $ref: '#/definitions/IsPlay'
      is_private:
        description: the brand sells private product's
        type: boolean
      is_professional:
        description: the brand sells professional product's
        type: boolean
      contact:
        $ref: '#/definitions/BrandContact'
      activation_time:
        $ref: '#/definitions/BrandActivationTime'
      order_constraints:
        $ref: '#/definitions/BrandOrderConstraints'
      quality_score:
        $ref: '#/definitions/BrandQualityScore'
      tos:
        $ref: '#/definitions/TranslatedStringISO2String'
      commission_clawback_duration:
        description: possible duration in month of the clawback if a product subscription is terminated / cancelled by the customer
        type: integer
        format: int32
    required:
    - id
    - name
    - slug
    - fact_sheet
    - display
    - is_play
    - is_private
    - is_professional
    - contact
    - activation_time
    - order_constraints
    - quality_score
    - tos
  BrandContact:
    title: BrandContact
    description: Translated Phone & Email
    type: object
    properties:
      contact_phone:
        $ref: '#/definitions/TranslatedStringISO2String'
      contact_email:
        $ref: '#/definitions/TranslatedStringISO2String'
    required:
    - contact_phone
    - contact_email
  BrandFactSheetLogo:
    title: BrandFactSheetLogo
    description: logo of the brand in varied sizes
    type: object
    properties:
      small:
        description: url of a small size of the brand logo
        type: string
      medium:
        description: url of a medium size of the brand logo
        type: string
      huge:
        description: url of a huge size of the brand logo
        type: string
    required:
    - small
    - medium
    - huge
  BrandOrderConstraints:
    title: BrandOrderConstraints
    description: Constraints and other order related parameters
    type: object
    properties:
      order_needs_iban:
        description: the brand requires an IBAN account for an order. Null = optional.
        type: boolean
      order_needs_id_card_number:
        description: the brand requires a valid ID card number for an order
        type: boolean
      order_needs_national_registry:
        description: the brand requires a valid national registry number for an order
        type: boolean
      order_needs_place_birth:
        description: the brand requires a place of birth for an order
        type: boolean
      order_address_setup_help:
        $ref: '#/definitions/TranslatedStringISO2String'
      order_needs_address_official:
        description: false, the official address is not requested during the ordering process. true, the official address form is shown but not required
        type: boolean
      order_address_official_help:
        $ref: '#/definitions/TranslatedStringISO2String'
      order_needs_address_invoicing:
        description: false, the invoicing address is not requested during the ordering process. true, the invoicing address form is shown but not required
        type: boolean
      order_address_invoicing_help:
        $ref: '#/definitions/TranslatedStringISO2String'
      order_needs_address_delivery:
        description: false, the delivery address is not requested during the ordering process. true, the delivery address form is shown but not required
        type: boolean
      order_address_delivery_help:
        $ref: '#/definitions/TranslatedStringISO2String'
      additional_sim_product_id:
        description: for some products such as the Telenet Wigo, it is possible to add in the pack a given number of sim card / mobile products that are included in the pack with a special price / free. For that purpose, when a product with a mobile play has a number_sim_min > 1 or number_sim_max >1, the extra SIM that should be ordered are the ones among this list of product_id
        type: array
        items:
          type: integer
          format: int32
    required:
    - order_needs_id_card_number
    - order_needs_national_registry
    - order_needs_place_birth
    - order_address_setup_help
    - order_needs_address_official
    - order_address_official_help
    - order_needs_address_invoicing
    - order_address_invoicing_help
    - order_needs_address_delivery
    - order_address_delivery_help
    - additional_sim_product_id
  BrandFactSheet:
    title: BrandFactSheet
    description: Fact sheet describing a brand
    type: object
    properties:
      small_description:
        $ref: '#/definitions/TranslatedStringISO2String'
      description:
        $ref: '#/definitions/TranslatedStringISO2String'
      logo:
        $ref: '#/definitions/BrandFactSheetLogo'
      color_code:
        description: hexadecimal color code associated to the brand
        type: string
    required:
    - small_description
    - description
    - logo
    - color_code
  TranslatedStringISO2String:
    title: TranslatedStringISO2String
    type: object
    properties:
      FR:
        description: French translation
        type: string
      NL:
        description: Dutch translation
        type: string
      EN:
        description: English translation
        type: string
      DE:
        description: German translation
        type: string
    required:
    - FR
    - NL
    - EN
    - DE
  BrandQualityScore:
    title: BrandQualityScore
    description: Astel quality score of the brand
    type: object
    properties:
      score_mobile:
        type: integer
        format: int32
      score_fix:
        type: integer
        format: int32
      score_internet:
        type: integer
        format: int32
      score_tv:
        type: integer
        format: int32
    required:
    - score_mobile
    - score_fix
    - score_internet
    - score_tv
  Discount:
    title: Discount
    description: A discount is associated to a product by its subscription period. The product subscription period should be selected when the customer is choosing an associated discount
    type: object
    properties:
      id:
        description: discount unique identifier
        type: integer
        format: int32
      short_description:
        $ref: '#/definitions/TranslatedStringISO2String'
      brand_id:
        description: id of the brand associated to this discount
        type: integer
        format: int32
      brand_name:
        description: name of the associated brand
        type: string
      description:
        $ref: '#/definitions/TranslatedStringISO2String'
      banner:
        $ref: '#/definitions/TranslatedStringISO2String'
      start_date:
        description: '(YYYY-MM-DD HH:MM:SS): start date of the discount'
        type: string
        format: date-time-rfc1123
      end_date:
        description: '(YYYY-MM-DD HH:MM:SS): end date of the discount'
        type: string
        format: date-time-rfc1123
      is_active:
        description: true if the brand is currently active (false in draft)
        type: boolean
      weight:
        description: number giving the order of display in a page of the discounts
        example: 0
        type: integer
        default: 0
        format: int32
    required:
    - id
    - short_description
    - brand_id
    - brand_name
    - description
    - banner
    - start_date
    - is_active
    - weight
  Option:
    title: Option
    description: An option could be sold with a product
    type: object
    properties:
      id:
        description: option unique identifier
        type: integer
        format: int32
      brand_id:
        description: brand associated to this option
        type: integer
        format: int32
      brand_name:
        description: name of the brand associated to this option
        type: string
      short_description:
        $ref: '#/definitions/TranslatedStringISO2String'
      description:
        $ref: '#/definitions/TranslatedStringISO2String'
      type:
        description: the option’s play type. Can be “INTERNET”, “MOBILE”, “TV” or “FIX”
        type: string
      price:
        description: the option’s price
        type: number
        format: double
      is_htva:
        description: Indicates if the price is given VAT excluded (true) or tax included (false)
        type: boolean
      is_bestseller:
        description: indicated if the option is marked as best-seller. It’s advised to show it in a featured way to increase sells
        type: boolean
      price_type:
        description: '‘MONTH’,’UNIT’: option’s price type. Used to indicate what type of price the option is associated to'
        type: string
      activation_fee:
        description: if the option requires a payment to be activated, this value indicates the price the customer must pay
        type: number
        format: double
      question:
        $ref: '#/definitions/TranslatedStringISO2String'
      type_description:
        $ref: '#/definitions/OptionTypeDescription'
      banner:
        description: url of the banner illustrating the option
        type: string
    required:
    - id
    - brand_id
    - brand_name
    - short_description
    - description
    - type
    - price
    - is_htva
    - is_bestseller
    - price_type
    - activation_fee
    - question
    - type_description
    - banner
  OptionTypeDescription:
    title: OptionTypeDescription
    description: some characteristics associated to the given plays
    type: object
    properties:
      mobile:
        $ref: '#/definitions/OptionTypeDescriptionMobile'
    required:
    - mobile
  OptionTypeDescriptionMobile:
    title: OptionTypeDescriptionMobile
    description: mobile related option data
    type: object
    properties:
      included_data_volume:
        description: 'mixed [int - string]: maximum traffic volume per month with the mobile internet connectivity (2G-3G-4G…) in mb that will be added to the associated product. If the data volume is unlimited, the value ‘UNLIMITED’ will be passed'
        type: string
      shared_data_volume_sim:
        description: 'mixed [int - string]: number of mb of traffic volume allowed shared among every sim card of the same subscription (new product type as Wigo, Tuttimus…) that will be added to the associated product. If the data volume is unlimited, the value ‘UNLIMITED’ will be passed'
        type: string
    required:
    - included_data_volume
    - shared_data_volume_sim
  Product:
    title: Product
    type: object
    properties:
      id:
        description: product identifier
        type: integer
        format: int32
      slug:
        $ref: '#/definitions/TranslatedStringISO2String'
      brand_id:
        description: brand identifier
        type: integer
        format: int32
      brand_name:
        description: brand name
        type: string
      brand_slug:
        description: textual, url friendly identifier of the brand (you can find this brand by its slug)
        type: string
      name:
        $ref: '#/definitions/TranslatedStringISO2String'
      description:
        $ref: '#/definitions/TranslatedStringISO2String'
      medium_description:
        $ref: '#/definitions/TranslatedStringISO2String'
      short_description:
        $ref: '#/definitions/TranslatedStringISO2String'
      banner:
        $ref: '#/definitions/TranslatedStringISO2String'
      banner_small:
        $ref: '#/definitions/TranslatedStringISO2String'
      price:
        type: number
        format: double
      discounted_price:
        description: ounted price per month of the product
        type: number
        format: double
      discounted_price_period:
        description: number of months the promo price applies
        type: integer
        format: int32
      activation_fee:
        description: onetime fee for activating the product (for the brand)
        type: number
        format: double
      installation_fee:
        description: onetime fee for installing the product by the customer (for the brand)
        type: number
        format: double
      is_mobile:
        description: tells if the product package contains a mobile product
        type: boolean
      is_fix:
        description: tells if the product package contains a fix line product
        type: boolean
      is_internet:
        description: ls if the product package contains an internet product
        type: boolean
      is_tv:
        description: tells if the product package contains a tv product
[...]
